################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GameSpyTelegram
/.vs/ProjectEvaluation
/obj
/bin/Debug/net8.0
